body { 
  background-color: lightblue; 
} 

#nav-bar { 
  text-align: center; 
} 


.container {
  margin-right: 30px; 
  margin-left: 30px;
  background-color: #9791a0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr; 
}

#styles { 
 border: 1px solid black;
 
}

p {
  color:red;
}

#example { 
  justify-content: right;
  border: 1px solid black;
  
}
